/* Reusable mixins for components */

@mixin small-box-shadow() {
  box-shadow:
    4px 0px 12px 0 rgba(0, 0, 0, 0.2),
    8px 0px 24px 0 rgba(0, 0, 0, 0.19);
}

@mixin button() {
  border: none;
  transition: 
    background-color 0.3s,
    color 0.3s;

  cursor: pointer;

  background-color: $primary-purple-color;
  color: $white-color;

  &:hover {
    background-color: $light-purple-color;
    color: $dark-purple-color;
  }
}

@mixin large-button() {
  @include button;

  padding: 0.5rem 1rem;
  border-radius: 0.6em;
  font-size: $medium-large-text-size;
}


@mixin small-button() {
    @include button;
    
    padding: 0.2rem 0.4rem;
    border-radius: 0.3em;
    font-size: $small-text-size;
}

@mixin text-input() {
  
  padding: 0.5rem 1rem;
  width: 100%;
  border: none;
  border-radius: 0.6em;

  cursor: text;
  transition: 
    background-color 0.3s,
    color 0.3s;

  background-color: adjust-alpha($white-color, 60%);
  color: $dark-purple-color;

  font-size: $medium-large-text-size;
  font-family: inherit;

  &::placeholder {
    color: adjust-alpha($dark-purple-color, 50%);
  }

  &:focus {
    outline: 2px solid $primary-purple-color;
    background-color: adjust-alpha($white-color, 80%);
  }
}





