$large-title-size: 3.2rem;
$standard-title-size: 2.8rem;

$large-text-size: 1.4rem;
$medium-large-text-size: 1.2rem;
$standard-text-size: 1rem;
$small-text-size: 0.8rem;

$thin-text-weight: 350;
$standard-text-weight: 400;
$bold-text-weight: 450;
$header-text-weight: 525;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
