$large-title-size: 1.8rem;
$standard-title-size: 1.6rem;

$large-text-size: 1.4rem;
$medium-text-size: 1.2rem;
$standard-text-size: 1rem;
$small-text-size: 0.8rem;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap')
