$primary-red-color: hsl(11, 93%, 43%);
$primary-orange-color: hsl(39, 94%, 40%);
$primary-yellow-color: hsl(57, 81%, 69%);
$primary-green-color: hsl(86, 96%, 22%);
$primary-purple-color: hsl(265, 60%, 44%);

$dark-red-color: hsl(11, 86%, 32%);
$dark-orange-color: hsl(39, 87%, 32%);
$dark-green-color: hsl(137, 55%, 17%);
$dark-purple-color: hsl(265, 45%, 19%);

$light-purple-color: hsl(265, 76%, 64%);

$white-color: hsl(210, 17%, 98%);
$gray-color: hsl(208, 10%, 75%);
$black-color: hsl(210, 6%, 26%);

$success-color: $primary-green-color;
$warning-color: $primary-yellow-color;
$danger-color: $dark-red-color;
