
$primary-red-color: #D42D08;
$primary-orange-color: #C48206;
$primary-yellow-color: #F0EA72;
$primary-green-color: #406F02;
$primary-purple-color: #642db2;


$secondary-orange-color: #9A680B;
$secondary-green-color: #134220;
$secondary-purple-color: #2E1B48;
$light-color: #F8F9FA;
$dark-color: #343A40;


$success-color: $primary-green-color;
$warning-color: $primary-yellow-color;
$danger-color: $primary-red-color;