@import "theme";
@import "font";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

html {
  display: flex;
  flex-direction: column;

  height: 100%;
  background-color: $dark-color;
}
