
$primary-green-color: #406F02;
$primary-purple-color: #2E1B48;
$secondary-purple-color: #75589d;
$pimary-yellow-color: #CAC340;
$primary-orange-color: #C48206;
$primary-red-color: #D42D08;
$light-color: #f8f9fa;
$dark-color: #343a40;


$success-color: $primary-green-color;
$warning-color: $primary-yellow-color;
$danger-color: $primary-red-color;